
/*------------------------------------*\
    #Flex-Box
\*------------------------------------*/

// GUIDE TO USING FLEX
//https://css-tricks.com/snippets/css/a-guide-to-flexbox/
//http://the-echoplex.net/flexyboxes/
//

  // @include flex-wrap(wrap; 
  // -ms-flex-wrap: wrap; 


.flex-grid {
  list-style: none;
  display: -ms-flexbox; 
  display: flex; 
}


//Container Becomes the size of content 
.flex-grid--inline {
    display: -ms-inline-flex;
    display: inline-flex; 
}

.flex-grid-cell {
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto;
}

.flex-grid-cell--2 {
    -ms-flex: 2 1 auto; 
    flex: 2;
}

.flex-grid-cell--3 {
    -ms-flex: 3 1 auto; 
    flex: 3;
}


.flex-grid--flexCells > .flex-grid-cell {
    display: -ms-flexbox; 
    display: flex; 
}

// Grid becomes 100% width of container 
.flex-grid--expand {
    width: 100%; 
}






/*------------------------------------*\
    #Grid Alignment (cross axis space distribution)
\*------------------------------------*/


.flex-grid--top {
    -ms-flex-align: start; 
   align-items: flex-start;
}

.flex-grid--bottom {
    -ms-flex-align: end; 
   align-items: flex-end;
}

.flex-grid--center {
    -ms-flex-align: center; 
   align-items: center;
}

.flex-grid--stretch {
    -ms-flex-align: stretch; 
   align-items: stretch;
}

.flex-grid--top {
      -ms-flex-align: flex-start; 
   align-items: flex-start;
}

.flex-grid--bottom {
      -ms-flex-align: flex-end; 
   align-items: flex-end;
}



@include media-query($small)  {

    .small-flex-grid--baseline {
        -ms-flex-align: baseline; 
       align-items: baseline;
    }

    .small-flex-grid--top {
        -ms-flex-align: start; 
       align-items: flex-start;
    }

    .small-flex-grid--bottom {
        -ms-flex-align: end; 
       align-items: flex-end;
    }

    .small-flex-grid--center {
        -ms-flex-align: center; 
       align-items: center;
    }

    .small-flex-grid--stretch {
        -ms-flex-align: stretch; 
       align-items: stretch;
    }

}

@include media-query($medium-up)  {
    
    .med-flex-grid--baseline {
        -ms-flex-align: baseline; 
       align-items: baseline;
    }

    .med-flex-grid--top {
        -ms-flex-align: start; 
       align-items: flex-start;
    }

    .med-flex-grid--bottom {
        -ms-flex-align: end; 
       align-items: flex-end;
    }

    .med-flex-grid--center {
        -ms-flex-align: center; 
       align-items: center;
    }

    .med-flex-grid--stretch {
        -ms-flex-align: stretch; 
       align-items: stretch;
    }

}


@include media-query($large-up)  {

    .large-flex-grid--baseline {
        -ms-flex-align: baseline; 
       align-items: baseline;
    }

    .large-flex-grid--top {
        -ms-flex-align: start; 
       align-items: flex-start;
    }

    .large-flex-grid--bottom {
        -ms-flex-align: end; 
       align-items: flex-end;
    }

    .large-flex-grid--center {
        -ms-flex-align: center; 
       align-items: center;
    }

    .large-flex-grid--stretch {
        -ms-flex-align: stretch; 
       align-items: stretch;
    }
    
}






/*------------------------------------*\
    #Grid Directions
\*------------------------------------*/


// Column adjusts to the height of the content 
.flex-grid--flex-direction-column {
    -ms-flex-direction: column; 
   flex-direction: column;
}

.flex-grid--flex-direction-column-reverse {
    -ms-flex-direction: column-reverse; 
    flex-direction: column-reverse; 
}

.flex-grid--flex-direction-row {
    -ms-flex-direction: row; 
   flex-direction: row;
}

.flex-grid--flex-direction-row-reverse {
    -ms-flex-direction: row-reverse; 
   flex-direction: row-reverse; 
}


@include media-query($small)  {

    .small-flex-grid--flex-direction-column {
        -ms-flex-direction: column; 
       flex-direction: column;
    }

    .small-flex-grid--flex-direction-column-reverse {
        -ms-flex-direction: column-reverse; 
      flex-direction: column-reverse; 
    }

    .small-flex-grid--flex-direction-row {
        -ms-flex-direction: row; 
       flex-direction: row;
    }

    .small-flex-grid--flex-direction-row-reverse {
        -ms-flex-direction: row-reverse; 
       flex-direction: row-reverse; 
    }


}


@include media-query($medium-up) {

    .med-flex-grid--flex-direction-column {
        -ms-flex-direction: column; 
       flex-direction: column;
    }

    .med-flex-grid--flex-direction-column-reverse {
        -ms-flex-direction: column-reverse; 
      flex-direction: column-reverse; 
    }

    .med-flex-grid--flex-direction-row {
        -ms-flex-direction: row; 
       flex-direction: row;
    }

    .med-flex-grid--flex-direction-row-reverse {
        -ms-flex-direction: row-reverse; 
       flex-direction: row-reverse; 
    }

}


@include media-query($large-up)  {

    .large-flex-grid--flex-direction-column {
        -ms-flex-direction: column; 
       flex-direction: column;
    }

    .large-flex-grid--flex-direction-column-reverse {
        -ms-flex-direction: column-reverse; 
      flex-direction: column-reverse; 
    }

    .large-flex-grid--flex-direction-row {
        -ms-flex-direction: row; 
       flex-direction: row;
    }

    .large-flex-grid--flex-direction-row-reverse {
        -ms-flex-direction: row-reverse; 
       flex-direction: row-reverse; 
    }

}





/*------------------------------------*\
    #Grid Justifications
\*------------------------------------*/


.flex-grid--justify-center {
    -ms-flex-pack: center; 
    justify-content: center; 
}

.flex-grid--justify-end {
    -ms-flex-pack: end; 
    justify-content: flex-end; 
}

.flex-grid--justify-start {
    -ms-flex-pack: start; 
    justify-content: flex-start; 
}

.flex-grid--justify-space-between {
    -ms-flex-pack: justify; 
  justify-content: space-between;
}

.flex-grid--justify-space-around {
    -ms-flex-pack: distribute; 
  justify-content: space-around;
}


@include media-query($small) {

    .small-flex-grid--justify-center {
        -ms-flex-pack: center; 
        justify-content: center; 
    }

    .small-flex-grid--justify-end {
        -ms-flex-pack: end; 
        justify-content: flex-end; 
    }

    .small-flex-grid--justify-start {
        -ms-flex-pack: start; 
        justify-content: flex-start; 
    }

    .small-flex-grid--justify-space-between {
        -ms-flex-pack: justify; 
      justify-content: space-between;
    }

    .small-flex-grid--justify-space-around {
        -ms-flex-pack: distribute; 
      justify-content: space-around;
    }

}


@include media-query($medium-up) {


    .med-flex-grid--justify-center {
        -ms-flex-pack: center; 
        justify-content: center; 
    }

    .med-flex-grid--justify-end {
        -ms-flex-pack: end; 
        justify-content: flex-end; 
    }

    .med-flex-grid--justify-start {
        -ms-flex-pack: start; 
        justify-content: flex-start; 
    }

    .med-flex-grid--justify-space-between {
        -ms-flex-pack: justify; 
      justify-content: space-between;
    }

    .med-flex-grid--justify-space-around {
        -ms-flex-pack: distribute; 
      justify-content: space-around;
    }

}

@include media-query($large-up)  {


    .large-flex-grid--justify-center {
        -ms-flex-pack: center; 
        justify-content: center; 
    }

    .large-flex-grid--justify-end {
        -ms-flex-pack: end; 
        justify-content: flex-end; 
    }

    .large-flex-grid--justify-start {
        -ms-flex-pack: start; 
        justify-content: flex-start; 
    }

    .large-flex-grid--justify-space-between {
        -ms-flex-pack: justify; 
      justify-content: space-between;
    }

    .large-flex-grid--justify-space-around {
        -ms-flex-pack: distribute; 
      justify-content: space-around;
    }

}





/*------------------------------------*\
    #Grid Wrap
\*------------------------------------*/


.flex-grid--flex-wrap {
    -ms-flex-wrap: wrap; 
   flex-wrap: wrap;
}

.flex-grid--flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse; 
  flex-wrap: wrap-reverse; 
}


.flex-grid--flex-no-wrap {
    -ms-flex-wrap: nowrap; 
  flex-wrap: nowrap; 
}


@include media-query($small) {

    .small-flex-grid--flex-wrap {
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    }

    .small-flex-grid--flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse; 
      flex-wrap: wrap-reverse; 
    }


    .small-flex-grid--flex-no-wrap {
        -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
    }

}

@include media-query($medium-up) {

    .med-flex-grid--flex-wrap {
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    }

    .med-flex-grid--flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse; 
      flex-wrap: wrap-reverse; 
    }


    .med-flex-grid--flex-no-wrap {
        -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
    }

}

@include media-query($large-up) {

    .large-flex-grid--flex-wrap {
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    }

    .large-flex-grid--flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse; 
      flex-wrap: wrap-reverse; 
    }


    .large-flex-grid--flex-no-wrap {
        -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
    }


}





/*------------------------------------*\
    #Grid Child Source Order
\*------------------------------------*/


//TODO: Make order classes for -1 0 and 1 







/*------------------------------------*\
    #Grid Child Flex Auto Size (shrink)
\*------------------------------------*/

//Makes items stay the same size and not grow or shrink 
.flex-grid-cell--auto-size {
   -ms-flex: 0 0 auto; 
    flex: none; 
}






/*------------------------------------*\
    #Grid Child Flex Grow
\*------------------------------------*/


.flex-grid-cell--flexGrow1 {
    -ms-flex-grow: 1; 
    flex-grow: 1; 
}





/*------------------------------------*\
    #Grid Child Sef Alignment 
\*------------------------------------*/


.flex-grid-cell--top {
  -ms-flex-item-align: start; 
  align-self: flex-start;
}

.flex-grid-cell--bottom {
  -ms-flex-item-align: end; 
  align-self: flex-end;
}

.flex-grid-cell--center {
  -ms-flex-item-align: center; 
  align-self: center;
}

.flex-grid-cell--center {
  -ms-flex-item-align: stretch; 
  align-self: stretch;
}

.flex-grid-cell--auto-size {
   -ms-flex: 0 0 auto; 
    flex: none; 
}


/*------------------------------------*\
    #Grid Child Elem Media Queries  (grow/auto-size + align-self)
\*------------------------------------*/

@include media-query($small) {

    .small-flex-grid-cell--flexGrow1 {
        -ms-flex-grow: 1; 
        flex-grow: 1; 
    }

    .small-flex-grid-cell--auto-size {
       -ms-flex: 0 0 auto; 
        flex: none; 
    }

    .small-flex-grid-cell--top {
      -ms-flex-item-align: start; 
      align-self: flex-start;
    }

    .small-flex-grid-cell--bottom {
      -ms-flex-item-align: end; 
      align-self: flex-end;
    }

    .small-flex-grid-cell--center {
      -ms-flex-item-align: center; 
      align-self: center;
    }

    .small-flex-grid-cell--center {
      -ms-flex-item-align: stretch; 
      align-self: stretch;
    }

}





@include media-query($medium-up) {

    .med-flex-grid-cell--flexGrow1 {
        -ms-flex-grow: 1; 
        flex-grow: 1; 
    }

    .med-flex-grid-cell--auto-size {
       -ms-flex: 0 0 auto; 
        flex: none; 
    }

    .med-flex-grid-cell--top {
      -ms-flex-item-align: start; 
      align-self: flex-start;
    }

    .med-flex-grid-cell--bottom {
      -ms-flex-item-align: end; 
      align-self: flex-end;
    }

    .med-flex-grid-cell--center {
      -ms-flex-item-align: center; 
      align-self: center;
    }

    .med-flex-grid-cell--center {
      -ms-flex-item-align: stretch; 
      align-self: stretch;
    }

}



@include media-query($large-up)  {

    .large-flex-grid-cell--flexGrow1 {
        -ms-flex-grow: 1; 
        flex-grow: 1; 
    }

    .large-flex-grid-cell--auto-size {
       -ms-flex: 0 0 auto; 
        flex: none; 
    }

    .large-flex-grid-cell--top {
      -ms-flex-item-align: start; 
      align-self: flex-start;
    }

    .large-flex-grid-cell--bottom {
      -ms-flex-item-align: end; 
      align-self: flex-end;
    }

    .large-flex-grid-cell--center {
      -ms-flex-item-align: center; 
      align-self: center;
    }

    .large-flex-grid-cell--center {
      -ms-flex-item-align: stretch; 
      align-self: stretch;
    }

}





/*------------------------------------*\
    #Sizing properties for Child Elements 
\*------------------------------------*/


.flex-grid--fit > .flex-grid-cell {
    -ms-flex: 1 1 auto; 
    flex: 1; 
}

.flex-grid--full > .flex-grid-cell {
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
}

.flex-grid--1of2 > .flex-grid-cell {
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
}

.flex-grid--1of3 > .flex-grid-cell {
    -ms-flex: 0 0 33.3333%; 
    flex: 0 0 33.3333%; 
}

.flex-grid--1of4 > .flex-grid-cell {
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%; 

}

.flex-grid--1of4 > .flex-grid-cell {
    -ms-flex: 0 0 20%; 
    flex: 0 0 20%; 
}


@include media-query($small) {

  .small-flex-grid--fit > .flex-grid-cell {
    -ms-flex: 1 1 auto; 
    flex: 1;
  }
  .small-flex-grid--full > .flex-grid-cell {
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%;
  }
  .small-flex-grid--1of2 > .flex-grid-cell {
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%;
  }
  .small-flex-grid--1of3 > .flex-grid-cell {
    -ms-flex: 0 0 33.3333%; 
    flex: 0 0 33.3333%;
  }
  .small-flex-grid--1of4 > .flex-grid-cell {
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%;
  }
  .small-flex-grid--1of5 > .flex-grid-cell {
    -ms-flex: 0 0 20%; 
    flex: 0 0 20%;
  }
}

@include media-query($medium-up) {

  .med-flex-grid--fit > .flex-grid-cell {
    -ms-flex: 1 1 auto; 
    flex: 1;
  }
  .med-flex-grid--full > .flex-grid-cell {
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%;
  }
  .med-flex-grid--1of2 > .flex-grid-cell {
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%;
  }
  .med-flex-grid--1of3 > .flex-grid-cell {
    -ms-flex: 0 0 33.3333%; 
    flex: 0 0 33.3333%;
  }
  .med-flex-grid--1of4 > .flex-grid-cell {
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%;
  }
  .med-flex-grid--1of5 > .flex-grid-cell {
    -ms-flex: 0 0 20%; 
    flex: 0 0 20%;
  }
}

@include media-query($large-up)  {

  .large-flex-grid--fit > .flex-grid-cell {
    -ms-flex: 1 1 auto; 
    flex: 1;
  }
  .large-flex-grid--full > .flex-grid-cell {
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%;
  }
  .large-flex-grid--1of2 > .flex-grid-cell {
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%;
  }
  .large-flex-grid--1of3 > .flex-grid-cell {
    -ms-flex: 0 0 33.3333%; 
    flex: 0 0 33.3333%;
  }
  .large-flex-grid--1of4 > .flex-grid-cell {
    -ms-flex: 0 0 25%; 
    flex: 0 0 25%;
  }
  .large-flex-grid--1of5 > .flex-grid-cell {
    -ms-flex: 0 0 20%; 
    flex: 0 0 20%;
  }
}





/*------------------------------------*\
    #Flex Gutters  (these using 1rem for gutter base)
\*------------------------------------*/


$column-gutter-flex: $gutter/2; 


.flex-grid--collapse {
  margin: 0 -$column-gutter-flex 0 -$column-gutter-flex;
}

.flex-grid--gutters > .flex-grid-cell {
  padding: 0 $column-gutter-flex 0 $column-gutter-flex;
}

// .flex-grid--guttersLg {
//   margin: -1.5rem 0 1.5rem -1.5rem;
// }
// .flex-grid--guttersLg > .flex-grid-cell {
//   padding: 1.5rem 0 0 1.5rem;
// }

// .flex-grid--guttersXl {
//   margin: -2rem 0 2rem -2rem;
// }
// .flex-grid--guttersXl > .flex-grid-cell {
//   padding: 2rem 0 0 2rem;
// }

// // @include media-query($small)  {
// //   .small-flex-grid--gutters {
// //     margin: -1rem 0 1rem -1rem;
// //   }
// //   .small-flex-grid--gutters > .flex-grid-cell {
// //     padding: 1rem 0 0 1rem;
// //   }
// //   .small-flex-grid--guttersLg {
// //     margin: -1.5rem 0 1.5rem -1.5rem;
// //   }
// //   .small-flex-grid--guttersLg > .flex-grid-cell {
// //     padding: 1.5rem 0 0 1.5rem;
// //   }
// //   .small-flex-grid--guttersXl {
// //     margin: -2rem 0 2rem -2rem;
// //   }
// //   .small-flex-grid--guttersXl > .flex-grid-cell {
// //     padding: 2rem 0 0 2rem;
// //   }
// // }

// // @include media-query($medium-up-u) } {
// //   .med-flex-grid--gutters {
// //     margin: -1rem 0 1rem -1rem;
// //   }
// //   .med-flex-grid--gutters > .flex-grid-cell {
// //     padding: 1rem 0 0 1rem;
// //   }
// //   .med-flex-grid--guttersLg {
// //     margin: -1.5rem 0 1.5rem -1.5rem;
// //   }
// //   .med-flex-grid--guttersLg > .flex-grid-cell {
// //     padding: 1.5rem 0 0 1.5rem;
// //   }
// //   .med-flex-grid--guttersXl {
// //     margin: -2rem 0 2rem -2rem;
// //   }
// //   .med-flex-grid--guttersXl > .flex-grid-cell {
// //     padding: 2rem 0 0 2rem;
// //   }
// // }

// // @include media-query($large-up-flex-u) } {
// //   .large-flex-grid--gutters {
// //     margin: -1rem 0 1rem -1rem;
// //   }
// //   .large-flex-grid--gutters > .flex-grid-cell {
// //     padding: 1rem 0 0 1rem;
// //   }
// //   .large-flex-grid--guttersLg {
// //     margin: -1.5rem 0 1.5rem -1.5rem;
// //   }
// //   .large-flex-grid--guttersLg > .flex-grid-cell {
// //     padding: 1.5rem 0 0 1.5rem;
// //   }
// //   .large-flex-grid--guttersXl {
// //     margin: -2rem 0 2rem -2rem;
// //   }
// //   .large-flex-grid--guttersXl > .flex-grid-cell {
// //     padding: 2rem 0 0 2rem;
// //   }
// // }



/*------------------------------------*\
    #Flex Debug
\*------------------------------------*/


//Debug For finding FlexBoxes with Grow 
// [class*="flex"] {
//   // background-color: red; 
//   // margin-right: 2em;
//   // margin-left: 2em; 
// }


