
/*------------------------------------*\
    #Headers
\*------------------------------------*/

$header-height: rem-calc(66px); 

.header {
	border-right: 1px solid $primary-color;
	border-left: 1px solid $primary-color;
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	height: $header-height; 
	padding-top: rem-calc($level2);
	padding-bottom: rem-calc($level2); 
	padding-left: rem-calc($level2); 
	padding-right: rem-calc($level2); 
	color: $primary-color;
	background-color: #fff;
	width: 100%; 
	position: fixed;
	top: 0; 
	right: 0; 
	left: 0; 

	@include media-query($large-up) {
		padding-left: rem-calc($level4); 
		padding-right: rem-calc($level4); 		
	}

	.header__inner {
		width: 100%; 
		height: 100%; 
		position: relative;

		// @include media-query($large-up) {
		// 	max-width: rem-calc(1200px);
		// 	margin-right: auto; 
		// 	margin-left: auto; 
		// }
	}

	.header__logo {
		position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: rem-calc(41px);

		h1 {
			margin: 0; 
			padding: 0; 
		}
		
		a {
			width: rem-calc(40px); 
			height: rem-calc(40px);
			display: block;
		}

		svg {
			width: 100%; 
			height: 100%; 
			vertical-align: middle; 
			display: inline-block;  
		}
	}

	.header__actions {
  	width: $header-height; 
  	height: 100%; 
	}

	.header__navigation {
		background-color: $modal-bg-color;
		position: fixed;
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0; 
		height: 100%; 
		width: 100%; 
		z-index: 100; 
		overflow: auto; 
	

		@include media-query($large-up) {
	    height: rem-calc(48px);
	    top: $header-height;
			overflow: visible; 
		}
		

		&.is-closed {
			animation: close-header-nav .1s linear forwards; 

			.header__navigation__link {
				opacity: 0; 
				transform: translateY(30px); 
			}
		}

		&.is-open {
			animation: open-header-nav .1s linear forwards; 

			.header__navigation__link {
				opacity: 1; 
				transform: translateY(0); 
			}
		}

		@include media-query($large-up) {
			&.is-closed {
				animation: dummy-anim .1s linear forwards; 

				.header__navigation__link {
					opacity: 1; 
					transform: translateY(0); 
				}
			}

			&.is-open {
				animation: dummy-anim .1s linear forwards; 

				.header__navigation__link {
					opacity: 1; 
					transform: translateY(0); 
				}
			}
		}

		.header__navigation__inner {
			width: 100%; 
			height: 100%;
			padding-top: $header-height;  
			position: realtive;
			border-right: 1px solid $primary-color; 
			border-left: 1px solid $primary-color; 

			@include media-query($large-up) {
				padding-top: 0;
			}
		}
		
		.header__navigation__item {
			
			@include media-query($large-up) {
				height: 100%; 
			}
		}	

		.header__navigation__links {
			height: 100%; 

			@include media-query($large-up) {
				border-bottom: 1px solid $primary-color; 
			}

			li:first-child {
				.header__navigation__link {
					border-top: 1px solid $primary-color; 

					@include media-query($large-up) {
						border-top: 0; 
					}
				}
			}
		}

		.header__navigation__link {
			color: $primary-color; 
			border: 0; 
			outline: 0;
			background-color: transparent; 
			border-top: 1px solid $primary-color; 
			padding-top: rem-calc($level4);
			padding-bottom: rem-calc($level4);
			padding-left: rem-calc($level3);
			width: 100%; 
			text-decoration: none; 
			display: block;
			font-weight: bold; 
			transition: all .2s linear; 
			text-transform: uppercase; 
			@include h2(); 

			@include media-query($large-up) {
				transition-delay: 0s;
		    outline: 0;
		    background-color: transparent;
		    border-right: 0;
		    border-left: 0;
		    border-top: 0;
		    height: 100%; 
		    padding-bottom: 0; 
		    padding-top: rem-calc(15px); 
				@include text-micro(); 

				&:hover, 
				&:focus {
					transform: translateY(-2px); 
				}
			}

			span {
				display: block;
				z-index: 1; 
				height: 100%; 
				text-align: left;
				position: relative;
				transform: translateX(0); 
				transition: filter .2s linear;

				@include media-query($large-up) {
					text-align: center; 
				}
			}

			&:before {
				content: " "; 
				position: absolute;
				width: 100%; 
				height: 100%; 
				top: 0; 
				right: 0; 
				bottom: 0; 
				left: 0; 
				background-color: $primary-color--translucent;
				transform: scaleY(0); 
				transform-origin: middle; 
				transition: all .2s linear;
				z-index: 0; 
			}

			&:hover, 
			&:active, 
			&:focus {

				span {
					//filter: blur(2px); 
				}

				&:before {
					//transform: scaleY(1); 
				}
			}
		}
		

		.header__navigation__link--dropdown {
			
			span {
				&:after, 
				&:before {
					content: " "; 
					position: absolute;
					background-color: $primary-color; 
					right: 12px; 
					top: 10px; 
					bottom: 0; 
					height: 4px; 
					width: 20px; 
					transition: all .2s linear; 

					@include media-query($large-up) {
						right: -18px;
						top: 8px;
						height: 2px;
						width: 12px;
					}
				}

		    &:before {
		      transform: translateY(0) rotate(0); 
		    }

		    &:after {
		      transform: translateY(0) rotate(90deg); 
		    }
			}

			&.is-open {
				span {
					&:after {
						transform: translateY(0)  rotate(0); 
					}
				}
			}
		}


		.header__navigation__dropdown {
			display: none; 
			padding: rem-calc($level3); 

			@include media-query($large-up) {
		    width: 100%;
		    position: fixed;
		    background-color: whitesmoke;
		    height: 0;
		    border-bottom: 1px solid $primary-color; 
		    border-left: 1px solid $primary-color;
		    border-right: 1px solid $primary-color;
		    display: block; 
				transition: all .2s linear; 
				z-index: 0; 
				overflow: hidden;
				margin-top: 0; 
				z-index: -1; 
				margin-left: -1px;
				padding: 0;
				left: 1px;
			}

			&.is-open {
				display: block; 


				@include media-query($large-up) {
					display: flex; 
			    height: rem-calc(180px);
			    margin-top: 0; 
					padding: rem-calc($level3);
					padding-bottom: rem-calc($level1); 
					padding-left: rem-calc($level7);  
    			margin-top: 1px;
				}

				.header__navigation__dropdown__item {
					opacity: 1; 
				}
			}

			.header__navigation__dropdown__item {
			 	padding-left: rem-calc($level2);
			 	opacity: 0; 
			 	transition: all .2s linear .2s;
			 	margin-bottom: rem-calc($level1); 

			 	@include media-query($large-up) {
			 		padding-left: rem-calc($level3);
			 		margin-bottom: 0; 
			 	}
			}

			.header__navigation__dropdown__link {
				color: $primary-color; 
				border: none; 
				text-decoration: none; 
				padding-right: rem-calc($level1); 
				padding-left: rem-calc($level1); 

				@include media-query($large-up) {
					@include text-micro(); 
				}

				&:hover, 
				&:focus {
					background-color: $primary-color;
					color: #fff; 
					transform: translateY(-2px); 
				}
			}
		}
	}
}


@keyframes close-header-nav {

	0% {
		transform: translateY(0); 
		opacity: 1; 
	}

	99% {
		opacity: 0; 
		transform: translateY(0); 
	}

	100% {
		opacity: 0; 
		transform: translateY(120%); 
	}
}

@keyframes open-header-nav {

	0% {
		transform: translateY(120%); 
		opacity: 0; 
	}

	1% {
		opacity: 0; 
		transform: translateY(0);  
	}

	100% {
		opacity: 1; 
		transform: translateY(0); 
	}

}




/*------------------------------------*\
    #Header Menu Toggle
\*------------------------------------*/

$toggleStrokeWidth: 2px;
$toggleHeight: .8rem; 
$toggleWidth: 1.9rem;  


.header__menu-toggle {
  background-color: transparent; 
  margin-bottom: 0; 
  text-transform: uppercase; 
  width: rem-calc(50px); 
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
  z-index: 101; 
  display: block;
  border: none; 
  outline: none; 

  &:active {
  	outline: none; 
  }

  .menu-toggle-label {
    margin-right: rem-calc($level1); 
  }

	&.is-menu-open {
  
	  .menu-toggle__label {
	    opacity: 0; 
	  }

	  .menu-toggle__icon {
	    border-bottom: solid 2px transparent; 

	    &:before {
	      top: 50%; 
	      transform: translateY(0) rotate(-45deg); 
	    }

	    &:after {
	      top: 50%; 
	      transform: translateY(0) rotate(45deg); 
	    }

	    &:hover,
	    &:focus {
	      transform: scale(1.1); 
	    }
	  }
	}
}


.menu-toggle__icon {
  height: $toggleHeight;
  width: $toggleWidth; 
  position: relative;
  display: block;
  text-align: center; 
  transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 

  &:after,
  &:before {
    content: ""; 
    height: $toggleStrokeWidth;
    background-color: $primary-color; 
    width: 100%;  
    left: 0; 
    right: 0; 
    position: absolute;
    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
  }

  &:after {
    top: 70%;
  }

  &:hover,
  &:focus {
    
  }
}



/*------------------------------------*\
    #Off Canvas Open Body Class
\*------------------------------------*/

.off-canvas-open {
	overflow: hidden; 
}



/*------------------------------------*\
    #Header Off Canvas Search 
\*------------------------------------*/

.search-modal {
	background-color: white;
  position: fixed;
  background-color: $modal-bg-color;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 

  .search-modal__inner {
  	width: 100%; 
  	height: 100%; 

  	form {
  		width: 100%; 
  		max-width: rem-calc(800px);
  		padding-right: rem-calc($level4); 
  		padding-left: rem-calc($level4);
  	}
  }

  .search-modal__close {
  	position: absolute;
		background-color: transparent; 
		outline: 0; 
		border: 0; 
		right: rem-calc($level4); 
    top: rem-calc(74px);
    width: rem-calc(30px);
    height: rem-calc(30px); 
    transition: all .2s linear; 

	  &:hover, 
	  &:focus {
			transform: rotate(45deg); 
	  }

	  &:after,
	  &:before {
	    content: ""; 
	    height: $toggleStrokeWidth;
	    background-color: $primary-color; 
	    width: 100%;  
	    left: 0; 
	    right: 0; 
	    position: absolute;
	    transition: all .2s cubic-bezier(0.23, 1, 0.32, 1); 
	  }

	  &:before {
	    top: 50%; 
	    transform: translateY(0) rotate(-45deg); 
	  }

	  &:after {
	    top: 50%; 
	    transform: translateY(0) rotate(45deg); 
	  }
  }

	&.is-closed {
		animation: close-header-nav .1s linear forwards; 
	}

	&.is-open {
		animation: open-header-nav .1s linear forwards; 
	}
	
	.search-modal__input-container {
		margin-bottom: rem-calc($level7 + $level3); 
	}

	.search-modal__input {
		height: rem-calc($level7 + $level3);
		color: $primary-color; 
		width: 100%;
		outline: 0; 
		border: 0; 
		background-color: transparent;
		border-bottom: 4px solid $primary-color; 
		padding-left: rem-calc($level2); 
		font-weight: bold; 
		margin-bottom: rem-calc($level2); 
		@include text-kilo();

		@include media-query($large-up) {
			height: rem-calc($level7 + $level5);
			padding-left: rem-calc($level2); 
			@include text-giga();
		}
	}

	.search-modal__input__headline {
		color: $primary-color; 
		font-weight: bold; 
		text-transform: uppercase;
		text-align: center; 
		display: block; 
		margin-bottom: rem-calc($level3); 
		@include h4();
	}

	.search-modal__input__help {
		color: $primary-color; 
		font-weight: bold; 
		text-transform: uppercase; 
		display: block;
		text-align: right; 
		background-color: transparent;
		border: none;
		outline: none; 
		width: 100%; 
		padding: 0; 
		@include text-micro(); 
	}

}




/*------------------------------------*\
    #Header Cart Toggle
\*------------------------------------*/


.cart-toggle {
	position: relative;
	display: block;
	height: 2rem; 
	width: 2rem; 

	.cart-toggle__count {
		position: absolute;
		z-index: 100; 
		text-align: center; 
		top: 8px; 
		bottom: 0; 
		left: 0; 
		right: 0; 
		width: 100%; 
		height: 100%; 
		font-weight: bold; 
		color: $primary-color;
	}

	.cart-toggle__icon {
		fill: $primary-color; 
		width: 100%; 
		height: 100%; 
	}
}





/*------------------------------------*\
    #Header Search Toggle
\*------------------------------------*/


.header__search-toggle {
	margin-left: rem-calc($level1); 
	height: 100%; 
}


.search-toggle {
	height: 1.4rem; 
	width: 1.4rem; 
	display: block;
	position: relative;
	outline: 0; 
	border: 0; 
	top: 8px; 
	padding: 0; 
	background-color: transparent;

	.search-toggle__icon {
		width: 100%; 
		height: 100%; 
	}
}

