
/*------------------------------------*\
    #Sections
\*------------------------------------*/

section {
	position: relative;
}


.section--main {
	margin-top: 4.1rem; 
	
	@include media-query($large-up) {
 		margin-top: 7.1rem; 
	}
}
