
/*------------------------------------*\
    #Collection 
\*------------------------------------*/


.collection-header {
	padding-top: rem-calc($level7);
	padding-bottom: rem-calc($level7); 
	position: relative;
	border-left: 1px solid $primary-color; 
	border-right: 1px solid $primary-color; 
	margin-left: 0; 

	.collection-header__hero-image {
	}

	.collection-header__headline {
		margin-bottom: rem-calc($level2); 
		@include h2();

		@include media-query($medium-up) {
			@include h1(); 
		}
	}
}


.collection-filters {
	border-top: 1px solid $primary-color; 
	border-bottom: 1px solid $primary-color; 
	border-left: 1px solid $primary-color; 
	border-right: 1px solid $primary-color; 
	overflow: hidden; 
	min-height: rem-calc(36px); 
	color: $primary-color;
	
	.collection-filters__inner {
		padding-left: rem-calc($level2);
		padding-right: rem-calc($level2);
    padding-top: rem-calc(6px);
		width: 100%; 
		height: 100%; 
		font-weight: bold; 
		text-transform: uppercase; 

		@include media-query($medium-up) {
			padding-left: rem-calc($level4);
			padding-right: rem-calc($level4);
		}
	}

	.collection-filters__tags {

		.collection-filters__tags__toggle {
			background-color: transparent;
			outline: none; 
			border: 0; 
			padding: 0; 
			margin-bottom: rem-calc($level2); 
			font-weight: bold; 
			text-transform: uppercase; 

			&:hover, 
			&:focus {
				cursor: pointer; 
				text-decoration: underline; 
				cursor: pointer; 

				span {
					opacity: 1; 
				}
			}
		}

		.collection-filters__tags__tag {
			font-weight: bold; 

			a {
				color: $primary-color; 
				text-decoration: none; 

				&:hover, 
				&:focus {
					text-decoration: underline; 
				}
			}
		}
	}

	.collection-filters__sorting {

		.collection-filters__sorting__toggle {
			background-color: transparent;
			outline: none; 
			border: 0; 
			padding: 0; 
			margin-bottom: rem-calc($level2); 
			font-weight: bold; 
			text-align: right; 
			text-transform: uppercase; 	
			width: 100%; 

			&:hover, 
			&:focus {
				text-decoration: underline; 
				cursor: pointer; 

				span {
					opacity: 1; 
				}
			}

			span {
				text-transfrom: capitalize;
				opacity: .5; 
				transition: all .2s ease-in-out; 
			}
		}

		.collection-filters__sorting__option {
			color: black; 
			text-align: right; 
			text-decoration: none; 
			font-weight: normal; 
			display: block;

			&:hover, 
			&:focus {
				text-decoration: underline; 
			}
		}
	}
}




/*------------------------------------*\
    #Collection Products
\*------------------------------------*/

.collection__products {
	
	@include media-query($medium-up) {

		.grid__item:nth-child(4n+0) {
			.collection-product {
				border-right: 1px solid $primary-color; 
			}
		}
	}
}


.collection-product {
	border-bottom: 1px solid $primary-color; 
	border-left: 1px solid $primary-color; 
	width: 100%; 
	height: 100%; 
	display: block; 
	position: relative;
	overflow: hidden;
	max-height: rem-calc(560px); 
	
	&:hover, 
	&:focus {

		.collection-product__info {

			.collection-product__info__primary {
				transform: translateX(12px);
				opacity: 0; 
			}

			.collection-product__info__options {
				opacity: 1; 
				transform: translateX(0);
			}
		}
	}

	.collection-product__inner {
		position: relative;
		width: 100%; 
		height: 100%; 
	}
	
	.collection-product__sold-out {
		position: absolute;
		top: 0; 
		left: 0; 
		background-color: $primary-color;
		width: 100%; 
		right: 0; 
		color: white; 
		text-transform: uppercase; 
		text-decoration: none; 
		text-align: center; 
		font-weight: bold;
    left: -74px;
    top: 17px;
    padding: 2px;
    transform: rotate(-28deg);
		@include text-micro(); 

		@include media-query($medium-up) {
    	left: -135px;
   	 	top: 27px;
			@include h6(); 
		}

	 	@include media-query($large-up) {
	 		left: -32%;
			top: 23px;
	 	}
	}

	.collection-product__info {
		position: absolute;
		z-index: 1; 
		right: 0; 
		bottom: 0; 
		left: 0; 
		width: 100%; 
		height: rem-calc(60px); 
		background-color: $modal-bg-color;
		transition: all .2s linear; 
		padding: rem-calc($level1); 
		border-top: 1px solid $primary-color; 
		color: $primary-color; 
		overflow: hidden;
		width: 100%; 

		@include media-query($medium-up) {
			height: rem-calc(48px); 
		}

		@include media-query($large-up) {
			padding: rem-calc($level2); 
		}


		.collection-product__info__title {
			margin-bottom: 0; 
			width: 100%; 
	    line-height: 1.5;
	    height: 19px;
	    overflow: hidden;
	    text-overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
			@include text-micro(); 

			@include media-query($medium-up) {
				width: auto; 
			}
		}

		.collection-product__info__price {
			margin-bottom: 0;
			text-align: left; 
			width: 100%; 
			@include text-micro(); 

			@include media-query($medium-up) {
				width: auto; 
			}
		}
	

		.collection-product__info__primary {
			transition: all .2s linear; 
			width: 100%;
		}

		.collection-product__info__options {
			width: 100%; 
			height: 100%; 
			margin-bottom: 0; 
			position: absolute;
			transform: translateX(-100%); 
			opacity: 0; 
			top: 0; 
			left: 0; 
			padding: rem-calc($level1); 
			padding-left: rem-calc($level2);
			transition: all .2s linear; 

			.collection-product__info__options__option {
				height: 1.3rem;
				width: 1.3rem;
				border: 1px solid $secondary-color; 
				color: $secondary-color; 
				border-radius: 100%; 
				display: block;
				margin-right: rem-calc($level1);
				margin-bottom: rem-calc($level1);  
				z-index: 1; 
					
				@include media-query($medium-up) {
					height: 1.5rem;
					width: 1.5rem;
					margin-bottom: 0; 
					@include text-micro(); 
				}

					
				@include media-query($large-up) {
					height: 1.6rem;
					width: 1.6rem;
				}

				&.collection-product__info__options__option--sold-out {
					opacity: .3; 
					position: relative;

					&:after {
						content: " "; 
						position: absolute;
						width: 1px; 
						height: 2rem; 
						background-color: $secondary-color; 
    				top: -4px;
    				left: 12px;
					 	right: 0; 
					 	transform: rotate(20deg);  

					 	@include media-query($medium-up) {
					 		top: -4px;
    					left: 12px;
					 	}
					}
				}

				span { 
					text-align: center; 
					display: block; 
					position: relative;
					bottom: -3px; 
					@include text-mini(); 

					@include media-query($medium-up) {
						letter-spacing: -1px;
					}

					@include media-query($large-up) {
						bottom: -2px; 
						@include text-micro(); 
					}
				}
			}
		}
	}

	.collection-product__image {
		width: 100%;
		height: 100%; 
	}
}
