
/*------------------------------------*\
    #Product 
\*------------------------------------*/


.product  {
	border-right: 1px solid $primary-color; 
	border-left: 1px solid $primary-color; 

	.product__images {
		border-bottom: 1px solid $primary-color; 

		.product__images__image {


		}

	}

	.product__info {
		padding-left: rem-calc($level4); 
		padding-right: rem-calc($level4); 
		
		.product__info__title {
			margin-bottom: rem-calc($level1); 
			@include h2(); 
		}

		.product__info__vendor {

		}

	}

}

