
/*------------------------------------*\
    #Product 
\*------------------------------------*/


.product  {
	border-right: 1px solid $primary-color; 
	border-left: 1px solid $primary-color; 

	.product__images {
		border-bottom: 1px solid $primary-color; 
		margin-bottom: rem-calc($level4); 
    // max-height: 500px;
    // overflow: hidden;


		.swiper-container {
			.swiper-wrapper {
				margin-bottom: 0; 
			}

			.swiper-slide {

				img {
					display: block; 
					position: relative; 
					margin-bottom: -1px; 
				}
			}

			.swiper-button-next {
				background-image: url("../assets/icon--arrow.svg"); 
			}
			.swiper-button-prev {
				background-image: url("../assets/icon--arrow.svg"); 
				transform: rotate(180deg); 
			}
		}



		.slick-list {
			max-width: 360px;
  		margin-right: auto;
  		margin-left: auto;

  		@include media-query($medium-up) {
  			max-width: 100%; 
  		}
		}

		// &.slick-slider {
		// 	position: relative;


		// 	.slick-arrow {
		// 		position: absolute;
		// 		top: 45%; 
		// 		background-color: transparent;
		// 		outline: 0; 
		// 		border: 0; 
		// 		z-index: 1; 
		// 	}

		// 	.slick-next {
		// 		right: 0; 
		// 	}

		// 	.slick-prev {
		// 		left: 0; 
		// 	}
		// }
	}

	.product__info {
		padding-left: rem-calc($level4); 
		padding-right: rem-calc($level4); 
		
		.product__info__title {
			margin-bottom: rem-calc($level1); 
			font-weight: bold; 
			@include h2(); 
		}

		.product__info__vendor {
			margin-bottom: rem-calc($level2);
			@include text-micro(); 

			a {
				color: $primary-color; 
				text-decoration: underline; 

				&:hover, 
				&:focus {
					text-decoration: none; 
				}
			}
		}

		.product__info__pricing {
			margin-bottom: rem-calc($level4); 
			@include h3(); 
		}

	}

	.product__variants {
		width: 100%; 
		max-width: rem-calc(420px); 
		
		.product__variants__variant {
			width: 50%;
			height: rem-calc(60px);
			color: $primary-color; 

			&.is-sold-out {
				color: red; 
			}
		}
	}
}

